html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1b26;
  
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1a1b26;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    min-height: 100vh;
    
}

p{
   color: #F4F4F4;
   font-size: 22px;
}

h1{
    color: #64f0c9;
}

h2{
  color: #F4F4F4;
}

ul{
    list-style-type: none;
}

.start{
  padding: 0px;
}

.header{
    background-color:   #1a1b26;
    display: flex;
    justify-content: center ;
    position: fixed;
    padding: 20px;
    width: 100%;
 
    
}

.header-text{
    font-size: 20px;
    font-weight: 700;
    color: #64f0c9;
    text-decoration: none;
    
}
.mathzoo-ux-title{
    font-size: 70px;
}



.container1-mathzoo_ux{
  background-color: #1a1b26;
  text-align: center;
}

.card-digital-wireframe{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px
}

.paper{
    max-height: auto;
    max-width: 250px;
}




.footer{
    background-color: #1a1b26;
    box-shadow: 0 -5px 20px rgba(47,182, 167, 0.5);
    color: #f4f4f4;
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


